# Gateway configuration (example)
ARWEAVE_TEMPLATE_TXID=your_template_txid
TEMPLATE_MANIFEST_URL=https://arweave.net/manifest.json
TEMPLATE_TRUSTED_KEYS=did:key:zTrustedPubKey1,did:key:zTrustedPubKey2

AO_READ_URL=https://ao-read.example.com
AO_WRITE_URL=https://ao-write.example.com
WORKER_INBOX_URL=https://worker.example.com/inbox
WORKER_NOTIFY_URL=https://worker.example.com/notify
FORGET_TOKEN=change-me

GATEWAY_CACHE_TTL_SECONDS=1800
ENVELOPE_MAX_BYTES=65536
GATEWAY_WEBHOOK_REPLAY_TTL_MS=600000
GATEWAY_WEBHOOK_SHADOW_INVALID=0

PSP_PAYPAL_WEBHOOK_ID=
PSP_PAYPAL_CERT_URL=https://api.paypal.com/certs
PAYPAL_WEBHOOK_SECRET=
PAYPAL_CERT_ALLOW_PREFIXES=https://api.paypal.com/
GW_CERT_PIN_SHA256=

METRICS_BEARER_TOKEN=
METRICS_BASIC_USER=prom
METRICS_BASIC_PASS=prompass
